.vscode
Python/Head_First_Python/Chapter4/man_data.txt
Python/Head_First_Python/Chapter4/other_data.txt
Python/Head_First_Python/Chapter4/its.txt    
Python/Head_First_Python/*/__pycache__
Python/Head_First_Python/*/*.pickle
Python/Head_First_Python/*/webapp/*.pickle
Python/Head_First_Python/*/webapp/cgi-bin/__pycache__
*.sqlite